#layout-header nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #5b8cf5 0%, #f083fc 79.4%);
  color: white;
  box-shadow: 1px 1px 1px 1px lightgrey; }
  #layout-header nav .mini-logo p {
    margin: 12px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-family: 'Lobster', cursive; }
    #layout-header nav .mini-logo p a {
      color: black; }
  #layout-header nav .auth-links ul {
    margin: 15px 8px;
    display: flex; }
    #layout-header nav .auth-links ul li {
      margin-right: 10px;
      list-style: none; }
  #layout-header nav a {
    color: white;
    text-decoration: none; }
